
header {
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;

  transition: all;
  transition-duration: 0.35s;
  transition-delay: 0s;
  transition-timing-function: ease-out;
}

.header_container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.logo {
  padding-top: 30px;
}

.logo a {
  position: absolute;
  top: 20%;
  left: 1%;
  font-size: 50px;
  z-index: 10;
  color: rgba(0, 0, 0, 0);
}

.logo svg path {
  fill: #00000000;
  stroke: #fff;
  stroke-width: 4;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;

  animation-name: draw;
  animation-delay: 0s;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes draw {
  0% {stroke-dashoffset: 500;}
  50% {stroke-dashoffset: 0;}
  100% {stroke-dashoffset: 500;}
}

.header_container nav {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  top: 30px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: ease-out;;
}

.header_container nav ul {
  margin: 0 auto;
  list-style: none;
}

.header_container nav ul li {
  display: inline;
}

.header_container nav ul li a {
  padding: 10px;
  margin-left: 10px;
  background-color: rgba(0, 0, 0,  0);
  text-decoration: none;
  width: 100px;
  /* color: #212121; */
  color: white;
  font-weight: 500;
  font-size: 19px;
  font-family: 'Source Sans Pro', sans-serif;

  transition: all;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-timing-function: linear;

}

.header_container nav ul li a:hover {
  border-bottom: solid 5px #00838F;
}

.header_container nav ul li .active {
  border-bottom: solid 5px #00838F;
}

@media (max-width: 600px) {

    .header_container nav {
      top: 60px;
    }

    .header_container nav ul li {
      /* display: block;
      margin-top: 30px; */

      display: none;
    }
}

@media (max-height:600px) {
    .logo {
      transform: scale(0.65);
      padding: 0;
      float: left;
    }
}
