.menu_container_large {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #263238;
  z-index: 4;
  -webkit-backface-visibility: hidden;

          backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          -o-backface-visibility: hidden;
  display: none;
}


.nav_menu {
  width: 50%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_menu ul {
  list-style: none;
}

.nav_menu ul li {
  margin: 15px;
  padding: 15px;
  text-align: center;
  font-family: 'Source Sans Pro', helvetica;
  font-size: 27px;

  transition: all;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  position: relative;
}

.nav_menu ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}


.nav_menu ul li:hover .strike {
  width: 100%;
}

.nav_menu ul li .strike {
  width: 0%;
  height: 8px;
  background-color: white;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;

  transition: all;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}

.social_media_links nav {
  width: 80%;
  height: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_media_links nav ul {
  list-style: none;
}

.social_media_links ul li {
  display: inline-block;
  margin: 20px;
  text-align: center;
}

.social_media_links ul li a{
  text-decoration: none;
  color: white;
}

.social_media_links ul li a img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.social_media_links ul li a h5 {
  font-weight: lighter;
  font-family: 'Source Sans Pro', helvetica;
}


.menu_container_large .developer_credits {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #263238;
}

.menu_container_large .developer_credits h4 {
  color: white; 
  transition: all;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: linear;
}
.menu_container_large .developer_credits h4:hover {
  color: black;
}



@media (max-width: 600px) {

  .nav_menu ul li {
    margin: 15px;
    padding: 15px;
    font-size: 19px;
  }

  .hamburger {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }

  .hamburger_line {
    height: 4px;
  }

  .nav_menu ul li .strike {
    height: 4px;
  }

  .social_media_links ul li a img {
    height: 25px;
    width: 25px;
  }

  .social_media_links nav {
    width: 90%;
  }

  .social_media_links ul li {
    margin: 5px;
  }

}

@media (max-width: 300px) {
  .logo {
    font-size: 14px;
  }
}

@media (max-height:450px) {

  .nav_menu ul li {
    margin: 8px;
    padding: 8px;
  }
}


@media (max-height:600px) {
    .logo {
      transform: scale(0.5);
      padding: 0;
      float: left;
    }
}

@media (max-width:400px) {

  .social_media_links nav {
    width: 100%;
  }

    .social_media_links ul li {
      margin: 4px;
    }
}
