.page_load {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: white;
  overflow: hidden;


  -webkit-backface-visibility: hidden;

          backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          -o-backface-visibility: hidden;
}

.page_load svg {
  width: 45vw;
  height: 45vh;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}


.page_load svg g#g_monitor path {
  fill: none;
  stroke: #000;
  stroke-width: 4;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;

  animation-name: monitor_fill;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.page_load svg g.g_q path {

  fill-opacity: 0 !important;

  stroke-dasharray: 230;
  stroke-dashoffset: 230;

  animation: q_fill;
  animation-delay: 2.25s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

/*
.page_load svg g#g_q path {
fill-opacity: 0 !important;
stroke-dasharray: 230;
stroke-dashoffset: 230;
animation: q_fill;
animation-delay: 2.25s;
animation-duration: 2s;
animation-timing-function: linear;
animation-fill-mode: forwards;
} */


.page_load svg {
  animation-name: monitor_zoom;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes monitor_fill {
  100% {stroke-dashoffset: 0;}
}

@keyframes monitor_zoom {
  100% {transform: scale(1.6);}
}

@keyframes q_fill {

  0% {
    fill-opacity: 0;
  }

  40% {
    fill-opacity: 0;
  }

  75% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    transform: scale(1);
  }

  100% {
    transform: scale(1.065);
  }

}

/*
@keyframes q_fill {
50% {stroke-dashoffset: 135; fill-opacity: 0;}
70% {stroke-dashoffset: 0; fill-opacity: 1; transform: scale(1);}
75% {stroke-dashoffset: 0; fill-opacity: 1; transform: scale(1);}
100% {transform: scale(1.1);}
} */
