::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
  background: #CFD8DC;
}

::-webkit-scrollbar-thumb {
    background: #546E7A;
}

::-webkit-scrollbar-thumb:hover {
    background: #37474F;
}
