header {
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  transition: all;
  transition-duration: 0.1s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

.header_container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.logo {
  padding-top: 15px;
}

.logo a {
  position: absolute;
  top: 20%;
  left: 1%;
  font-size: 50px;
  z-index: 10;
  color: rgba(0, 0, 0, 0);
}

.logo svg path {
  fill: #00000000;
  stroke: #fff;
  stroke-width: 4;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;

  animation-name: draw;
  animation-delay: 0s;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes draw {
  0% {stroke-dashoffset: 500;}
  50% {stroke-dashoffset: 0;}
  100% {stroke-dashoffset: 500;}
}


.hover:hover {
  cursor: pointer;
}

section {
  overflow: hidden;
  width: 91vw;
  margin: 70px auto 20px auto;
  padding: 20px 0;
}

canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: -10;
}


.student_coordinator_wrapper {
  text-align: center;
}

.row {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.student_coordinator {
  width: 280px;
  height: 400px;
  margin: 40px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;

  position: relative;

  border-radius: 4px;
  box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.25);
}

.student_coordinator img {
  width: 100%;
  height: 80%;
}

.student_coordinator .details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: lightgrey;

  transition: all;
  transition-duration: 0.25s;
  transition-delay: 0s;
  transition-timing-function: ease-in;
}

.student_coordinator .details h4 {
  font-family: 'Source Sans Pro', helvetica;
  font-size: 19px;
  color: #37474f;
  padding: 5px;
  margin-top: 5px;
}

.student_coordinator .details h5 {
  font-family: 'Source Sans Pro', helvetica;
  font-size: 15px;
  color: #37474f;
  padding: 5px;
}

.student_coordinator .more_details {
  padding-top: 10px;
  transform: translateY(20px);
  border-top: 1px white solid;
}

.student_coordinator .show_more {
  position: absolute;
  top: -25px;
  left: 10px;
  z-index: 2;
  height: 50px;
  width: 50px;
  border-radius: 50px;

  transition: all;
  transition-duration: 0.25s;
  transition-delay: 0s;
  transition-timing-function: ease-in;
}

.student_coordinator .show_more::before{
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 58px;
  height: 58px;
  border: solid 2px white;
  border-radius: 60px;

  box-sizing: border-box;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;

  animation-name: pulsate;
  animation-duration: 1.2s;
  animation-delay: 0s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  z-index: 0;
}

@keyframes pulsate {
  0% {transform: scale(1);}
  50% {transform: scale(0.95);}
  100% {transform: scale(1);}
}

.student_coordinator .show_more img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.student_coordinator .show_more img:hover {
  animation-name: rotate;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(10deg);}
  100% {transform: rotate(0deg);}
}


.main_coordinator_wrapper {
  text-align: center;
}

.main_coordinator {
  width: 400px;
  height: 360px;
  margin: 40px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  position: relative;

  border-radius: 4px;
  box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.25);
}

.main_coordinator img {
  width: 100%;
  height: 75%;
}

.main_coordinator .details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: lightgrey;

  transition: all;
  transition-duration: 0.25s;
  transition-delay: 0s;
  transition-timing-function: ease-in;
}

.main_coordinator .details h4 {
  font-family: 'Source Sans Pro', helvetica;
  font-size: 19px;
  color: black;
  padding: 5px;
  margin-top: 30px;
}

.main_coordinator .details h5 {
  font-family: 'Source Sans Pro', helvetica;
  font-size: 15px;
  color: #37474f;
  padding-bottom: 10px;
}


.main_coordinator .more_details {
  padding-top: 10px;
  transform: translateY(0px);
  border-top: 1px white solid;
}

.main_coordinator .show_more {
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  height: 50px;
  width: 50px;
  border-radius: 50px;

  transition: all;
  transition-duration: 0.25s;
  transition-delay: 0s;
  transition-timing-function: ease-in;
}

.main_coordinator .show_more::before{
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 58px;
  height: 58px;
  border: solid 2px white;
  border-radius: 60px;

  box-sizing: border-box;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;

  animation-name: pulsate;
  animation-duration: 1.2s;
  animation-delay: 0s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  z-index: 0;
}



.main_coordinator .show_more img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.main_coordinator .show_more img:hover {
  animation-name: rotate;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.hamburger {
  width: 38px;
  height: 38px;
  position: absolute;
  top: 15px;
  right: 45px;

  z-index: 11;
}

.hamburger_line {
  width: 100%;
  height: 5px;
  background-color: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 2px;

  transition: all;
  transition-duration: 0.25s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

.hamburger_line::before, .hamburger_line::after {
  content: '';
  width: 100%;
  height: 5px;
  background-color: white;
  display: block;
  position: absolute;
  left: 0;
  border-radius: 2px;

  transition: all;
  transition-duration: 0.25s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

.hamburger_line::before {
  bottom: 10px;
}

.hamburger_line::after {
  top: 10px;
}


.hamburger_icon:hover .hamburger_line::before {
  animation: move_hamburger_forward;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hamburger_icon:hover .hamburger_line::after {
  animation: move_hamburger_reverse;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hamburger_open_line {
  background-color: rgba(0, 0, 0, 0);
}

.hamburger_open_line::before {
  background-color: black;
  animation: open_hamburger_top_line;
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.hamburger_open_line::after {
  background-color: black;
  animation: open_hamburger_bottom_line;
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}


@keyframes move_hamburger_forward {
  0%{left: 0;}
  25%{left: 8px;}
  50%{left: 0px;}
  75%{left: -8px;}
  100%{left: 0px;}
}

@keyframes move_hamburger_reverse {
  0%{left: 0;}
  25%{left: -8px;}
  50%{left: 0px;}
  75%{left: 8px;}
  100%{left: 0px;}
}

@keyframes open_hamburger_top_line {
  0%{bottom: 10px; transform: rotate(0deg);}
  25%{bottom: 0; top: 0;  transform: rotate(0deg);}
  100%{bottom: 0; top: 0; transform: rotate(45deg);}
}

@keyframes open_hamburger_bottom_line {
  0%{top: 10px; transform: rotate(0deg);}
  25%{bottom: 0; top: 0;  transform: rotate(0deg);}
  100%{top: 0; bottom: 0; transform: rotate(-45deg);}
}



#nav_wrapper {
  display: none;
}

#list {
  display: none;
}

nav {
  width: 35vh;
  height: 50vh;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
}

nav::before {
  content: '';
  width: 50vh;
  height: 50vh;
  border-radius: 350px;
  background-color: white;
  z-index: -1;
  position: fixed;
  top: -25vh;
  right: -25vh;

  animation-name: expand;
  animation-duration: 0.2s;
  animation-delay: 0s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes expand {
  0% {transform: scale(0);}
  100% {transform: scale(2.5);}
}

nav ul {
  width: 90%;
  margin: 25% auto 0 auto;
  list-style: none;
}

nav ul li {
  padding: 20px;
  position: relative;
}

nav ul li a::before {
  content: '';
  height: 50px;
  width: 8px;
  background-color: grey;
  position: absolute;
  top: 10px;
  left: 0;
}

nav ul li a::after {
  content: '';
  height: 4px;
  width: 0%;
  background-color: grey;
  position: absolute;
  top: 30px;
  right: 16px;

  transition: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}

nav ul li a {
  padding: 10px;
  margin-left: 10px;
  background-color: rgba(0, 0, 0,  0);
  text-decoration: none;
  width: 100%;
  color: black;
  font-size: 19px;
  font-family: 'Source Sans Pro', sans-serif;
}

nav ul li a:hover::after{
  width: 90%;
}



@media (max-width:600px) {
  .student_coordinator {
    margin: 10px 0 10px 0;
  }

  .main_coordinator {
    width: 280px;
    margin: 10px 0 10px 0;
  }
}
